.about {

  &__title {
    margin-bottom: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--night-rider);
  }

  &__content {
    width: 1080px;
    margin-bottom: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--night-rider);

    @include tablet {
      width: 925px;
    }
  }
}


