.about {

  padding-top: 81px;
  padding-bottom: 69px;

  @include tablet-one {
    padding-top: 0;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {


    @include tablet-one {
      padding-top: 73px;
    }

    @include mobile {
      padding-top: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--night-rider);

    @include mobile {
      font-size: 28px;
      line-height: 38px;
    }
  }

  &__content {
    margin: 0;
    max-width: 1080px;
    // margin-bottom: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--night-rider);

    @include mobile {
      font-size: 14px;
      line-height: 28px;
    }
  }
}


