.catalog {
  margin-bottom: 40px;

  &__container {
    // padding-top: 80px;
  }

  &__title {
    margin: 0;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
  }

  &__content {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--black);
    max-width: 1080px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    // gap: 50px;

    &-left {
      margin-right: 50px;
    }

   &-title {                                        //левая секция
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color:var(--black);
   }

   &-date {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--nobel);
   }

   &-text {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--black);
    max-width: 750px;
   }

   &-right {                             // АДАПТИВ !!!!!!!!!!!!!!!

    @include big-desktop-one {
      width: 50%;
    }
   }

   &-list {                             // правая секция
    list-style: none;
    margin: 0;
   }

   &-item {
    margin-top: -1px;

    &:hover {
      border-color: var(--studio);
    }
   }

   &-btn {
    position: relative;
    background-color: transparent;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    // margin-top: -1px;
    width: 800px;
    text-align: left;
    min-height: 114px;

    &:hover {
      border-color: var(--studio);

      & .catalog__wrap-btn-date {
       color: var(--amethyst);
      }

      & .catalog__wrap-btn-open path {
        fill: var(--mauve);
      }

                                                                      // ФОКУС НЕ СРАБАТЫВАЕТ

      &:focus-visible:not(:hover):not(:active)::after {
        content: "";
        position:absolute;
        left: -7px;
        top: -3px;
        bottom: -3px;
        width: calc(100% + 14px);
        background-color: var(--studio);
        z-index: -1;
        outline: none;
        animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
      }

      &:active {

        & .catalog__wrap-btn-date {
          color: var(--studio);
         }
      }


    }

    &-one {
      // margin-bottom: -1px;
    }


    &-date {
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      color: var(--black);
    }

    &-open {            // на 9й минуте изменения галочки
      position: absolute;
      right: 0;
      top: 25%;
      flex-shrink: 0;
      transition: fill .3 ease-in-out;

      &:active {
      fill: var(--mauve);
      transform: rotate(180deg);
      }
    }
   }

   &-inner {
     padding-top: 25px;
    padding-bottom: 25px;
   }

    &-content {
      // padding-top: 25px;
      // padding-bottom: 25px;                        // список художников
      // display: flex;
      margin-bottom: -1px;
      margin-top: -1px;
      gap: 24px;
      overflow: hidden;

      &-list {
        column-count: 3;
        list-style: none;
        padding: 0;
        // padding-top: 25px;
        // padding-bottom: 25px;
      }

      &-text {
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        color: var(--black);
      }

      &-btn {
        background-color: transparent;
        border: none;
      }

        &-img {
        border: 2px solid var(--nobel);
        padding: 12px;
        margin-top: 25px;
        margin-bottom: 25px;

      }

      &-right {
        max-width: 275px;
        margin-left: 25px;

        &-title {
          font-family: Open Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          color: var(--black);
        }

        &-text {
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: var(--black);
        }

        &-link {
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: var(--amethyst);
        }
      }

    }

    &-flex {
      display: flex;
    }


  }

    .ac.js-enabled .ac-panel {
      visibility: hidden;
    }

    .ac.is-active .ac-panel {
      border-bottom: 1px solid;
      visibility: visible;
    }

    .ac .ac-trigger::after {
      content: none;
    }

    .ac-trigger {
      // margin: 0;
      // margin-bottom: -1px;
    }

    .ac-panel {
      // margin: 0;
    }

    .ac {
      // margin-top: -1px;
      border: none;
      background-color: transparent;
    }

    //   .catalog .ac{
    //   margin-top: 0px;
    //   border: none;
    //   background-color: transparent;
    // }

}


