.catalog {
  // margin-bottom: 40px;

  &__container {
    padding-top: 39px;

    @include tablet-one {
      padding-top: 39px;
    }

    @include small-tablet {
      padding-top: 40px;
    }
  }

  &__title {
    margin: 0;
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
  }

  &__content {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--black);
    max-width: 1080px;
    margin-bottom: 39px;

    @include small-tablet {
      margin-bottom: 21px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    // gap: 50px;

    @include tablet {
      gap: 50px;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
    }

    &-left {
      margin-right: 50px;

      @include tablet {
        margin: 0;
      }
    }

    &-title {
      //левая секция
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--black);
      margin-bottom: 7px;

      @include small-tablet {
        margin: 0;
        padding-top: 17px;
        margin-bottom: 6px;
      }
    }

    &-date {
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: var(--nobel);
    }

    &-text {
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      color: var(--black);
      max-width: 750px;

      @include small-tablet {
        padding-top: 6px;
        margin: 0;
      }
    }

    &-right {

      @include tablet-one {
        width: 81%;
      }

      @include small-tablet {
        width: 100%;
      }
    }

    &-list {
      // правая секция
      list-style: none;
      margin: 0;
    }

    &-item {
      &:focus-visible {
        outline: none;
      }

      @include tablet-one {
        // margin-bottom: -39px;
      }
    }

    &-item.is-active svg {
      transform: rotate(180deg);
    }

    &-item svg {
      transition: transform 0.3s ease-in-out;
    }

    &-btn {
      position: relative;
      background-color: transparent;
      border: none;
      border-top: 1px solid var(--very-light-grey);
      border-bottom: 1px solid var(--very-light-grey);
      width: 800px;
      text-align: left;
      min-height: 114px;
      margin-bottom: -1px;
      // margin-top: -1px;
      transition: border-color .5s ease-in-out;
      padding: 0;

      @include small-tablet {
        margin-bottom: 0.5px;
      }

      &-one {
        border-top: 1px solid var(--very-light-grey);
      }

      &:first-of-type {
        // border-top: 1px solid var(--very-light-grey);
      }


      &:hover {
        border-color: var(--studio);

        & .catalog__wrap-btn-date {
          color: var(--amethyst);
        }

        & .catalog__wrap-btn-open path {
          fill: var(--mauve);
        }

        &:focus-visible:not(:hover):not(:active)::after {
          content: "";
          position: absolute;
          left: -7px;
          top: -3px;
          bottom: -3px;
          width: calc(100% + 14px);
          background-color: var(--studio);
          z-index: -1;
          outline: none;
          animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
            both;
        }

        &:active {
          & .catalog__wrap-btn-date {
            color: var(--studio);
          }
        }
      }

      @include tablet {
        width: 100%;
      }

      &-one {
        // margin-bottom: -1px;
      }

      &-date {
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        color: var(--black);
        transition: color .5s ease-in-out;
        // display: block;
        // margin-top: 43px;
      }

      &-open {
        position: absolute;
        right: 0;
        top: 25%;
        flex-shrink: 0;
        transition: transform 0.5s ease-in-out;

        & path {
          // background-color: transparent;
          transition: fill .3s ease-in-out;
        }

        // &:hover {
        //   fill: var(--mauve);
        // }

        &:active {
          fill: var(--mauve);
          transform: rotate(180deg);
        }
      }
    }

    &-inner {
      padding-top: 25px;
      padding-bottom: 49px;
    }

    &-content {
      // padding-top: 25px;
      // padding-bottom: 25px;                        // список художников
      // display: flex;
      // margin-bottom: -1px;
      // margin-top: -1px;
      gap: 24px;
      overflow: hidden;
      // margin-bottom: -1px;

      &-list {
        column-count: 3;
        list-style: none;
        padding: 0;
        // padding-top: 25px;
        // padding-bottom: 25px;

        @include tablet-one {
          column-count: 2;
        }

        @include small-tablet {
          column-count: 3;
        }
      }

      &-text {
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        color: var(--black);
        transition: border-bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, color .3s ease-in-out;

        // &:hover {
        //   border-bottom: 2px solid var(--amethyst);
        // }

        &:active {
          background-color: var(--amethyst);
        }
      }

      &-btn {
        padding: 0;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

        &:hover {
          outline: none;
          border-bottom: 2px solid var(--amethyst);
        }

        &:focus-visible {
          outline: none;
          background-color: var(--amethyst);
        }
      }

      &-img {
        border: 2px solid var(--nobel);
        padding: 12px;
        margin-top: 25px;
        margin-bottom: 25px;
      }

      &-right {
        max-width: 275px;
        margin-left: 25px;

        &-title {
          font-family: Open Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          color: var(--black);
        }

        &-text {
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: var(--black);
        }

        &-link {
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: var(--amethyst);
        }
      }
    }

    &-flex {
      display: flex;
    }
  }

  .ac.js-enabled .ac-panel {
    visibility: hidden;
  }

  .ac.is-active .ac-panel {
    // border-bottom: 1px solid var(--dim-gray);
    visibility: visible;
  }

  .ac .ac-trigger::after {
    // content: none;
  }

  & .ac-trigger {
    // margin: 0;
    // margin-bottom: -1px;
  }

  .ac-panel {
    // margin: 0;
  }

  & .ac {
    // margin-bottom: -1px;
    // border: none;
    // background-color: transparent;
  }

  //   .catalog .ac{
  //   margin-top: 0px;
  //   border: none;
  //   background-color: transparent;
  // }

  &__image {
    width: 100%;

    // @include tablet-one {
    //   width: 91%;
    // }
  }

  // &__this {

  //   &-img {

  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;

  //     &-signature {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //     }
  //   }
  // }

  &__this {

    &-title {
      color: var(--night-rider);
      font-family: "Open Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    &-text {
      color: var(--night-rider);
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }

    &-link {
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--amethyst);
    }
  }

  & .tab-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    min-height: 500px;
    transform: translateX(-100px);
    transition: .3s ease-in-out;
    opacity: 1s ease-in-out;
    transform: .8s ease-in-out;


  }

  & .tab-content-active {
    visibility: visible;
    position: relative;
    opacity: 1;
    transform: none;
  }

  & .tab-btn-active {
    background-color: var(--amethyst);
  }

  & .span-active {
    color: white;
  }


}


