.contacts {

  border-bottom: 1px solid var(--very-light-grey);
  border-top: 1px solid var(--very-light-grey);
  padding-top: 45px;



  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 65px;


    @include big-desktop {
      display: inline-block;
    }

  }


  &__left {

    @include big-desktop {
      margin-bottom: 30px;
    }


    &-title {
      margin: 0;
      color: var(--night-rider);
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }

      &-text {
        color: var(--night-rider);
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px
    }

  }

  &__center {

    @include big-desktop {
      margin-bottom: 30px;
    }
  }

  &__form {

    display: flex;
    gap: 20px;

    &-label {
      position: relative;
      display: inline-block;

      & .just-validate-error-label {
        position: absolute;
        top: -22px;
        left: 24px;
        color: #D11616;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &-input {
      color: var(--nobel);
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      height: 40px;
      width: 270px;
      border-radius: 100px;
      border: 1px solid #333;
      padding: 9px 43px 9px 24px;
      transition: border-color .3 ease-in-out;


      &:hover {
        background-color: var(--nobel);
      }

      @include small-tablet {
        margin-bottom: 10px;
      }
    }

    & .just-validate-error-field {
      border-color: #D11616;
    }

    &-btn {
      text-align: center;
      color: var(--amethyst);
      text-align: center;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 332px;
      height: 42px;
      border-radius: 100px;
      border: 2px solid var(--amethyst);
      background: var(--white);

      @include tablet-one {
        margin-bottom: 10px;
      }
    }
  }

  &__right {

    &-title {
      margin: 0;
      color: var(--night-rider);
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;

      @include big-desktop {
        margin-bottom: 6px;
      }

    }

    &-wrap {
      display: flex;
      gap: 20px;
    }

    &-link {

      display: flex;
      border: 1px solid transparent;
      border-radius: 50px;
      outline: none;
      transition: opacity .3s ease-in-out, border .3s ease-in-out ;


      &:hover {
        opacity: 0.5;
      }

      &:active {
        border: 1px solid var(--amethyst);
      }

      &:focus-visible {
        opacity: 0.5;
      }




    }
  }

  // &__wrap {
  //   border-top: 1px solid lightgray;
  // }

  &__map {
    border-top: 1px solid lightgray;
    height: 700px;
  }

  [class*="ground-pane"] {
    filter: grayscale(1);
  }
}






