.contacts {

  border-bottom: 1px solid var(--very-light-grey);
  border-top: 1px solid var(--very-light-grey);
  padding-top: 45px;

  @include tablet-one {
    padding-top: 42px;
  }

  @include small-tablet {
    padding-top: 43px;
  }

  @include small-mobile {
    border-top: none;
    border-bottom: none;
  }



  &__container {
    // margin-top: -7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;


    @include big-desktop {
      display: inline-block;
    }

    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0;
    }

  }


  &__left {

      max-width: 256px;
      padding-bottom: 9px;


    @include big-desktop {
      margin-bottom: 30px;
    }

    @include tablet-one {
      margin-bottom: 19px;
    }

    @include small-mobile {
      margin-bottom: 3px;
    }


    &-title {
      margin: 0;
      color: var(--night-rider);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;

      @include small-mobile {
        font-size: 18px;
        line-height: 25px;
      }
    }

      &-text {
        color: var(--night-rider);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;

        @include tablet-one {
          font-size: 14px;
        }
      }

  }

  &__center {

    margin-bottom: 10px;

    @include big-desktop {
      margin-bottom: 30px;
    }

    @include tablet-one {
      margin-bottom: 28px;
    }

    @include small-mobile {
     margin-bottom: 18px;
    }

  }

  &__form {




    display: flex;
    // flex-wrap: wrap;
    gap: 20px;

    @include small-tablet {
      flex-wrap: wrap;
     }

     @include small-mobile {
      gap: 28px;
     }

    &-label {
      position: relative;
      display: inline-block;

      & .just-validate-error-label {
        position: absolute;
        top: -22px;
        left: 24px;
        color: #D11616;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      @include small-tablet {
        margin-right: -2px;
      }
    }

    &-input {
      color: var(--nobel);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      height: 50px;
      width: 270px;
      border-radius: 100px;
      border: 1px solid #333;
      padding: 9px 43px 9px 24px;
      background-color: transparent;
      transition: background-color .3s ease-in-out;


      &:hover {
        background-color: var(--whisper);
      }

      @include tablet-one {
        height: 49px;
      }

      @include small-tablet {
        margin-bottom: -7px;
        width: 322px;
      }

      @include small-mobile {
        max-width: 290px;
        height: 40px;
        padding-bottom: 12px;
        // padding-top: 9px;
        // margin-bottom: 7px;
      }
    }

    & .just-validate-error-field {
      border-color: #D11616;
    }

    &-btn {
      text-align: center;
      color: var(--amethyst);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 332px;
      height: 50px;
      border-radius: 100px;
      border: 2px solid var(--amethyst);
      background: var(--white);
      background-color: transparent;
      transition: background-color .3s ease-in-out, color .3s ease-in-out;

      &:hover {
        background-color: var(--amethyst);
        color: var(--white);
      }

      @include tablet-one {
        width: 343px;
        height: 48px;
        margin-bottom: 3px;
      }

      @include small-tablet {
         width: 316px;
      }

      @include small-mobile {
        width: 128px;
        height: 40px;
        font-size: 10px;
      }
    }
  }

  &__right {

    @include tablet-one {
      margin-bottom: 6px;
    }

    &-title {
      margin: 0;
      color: var(--night-rider);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;

      @include big-desktop {
        margin-bottom: 6px;
      }


      @include small-mobile {
        font-size: 18px;
        line-height: 32px;
      }

    }

    &-wrap {
      display: flex;
      gap: 20px;
    }

    &-link {

      display: flex;
      border: 1px solid transparent;
      border-radius: 50px;
      outline: none;
      transition: opacity .3s ease-in-out, border .3s ease-in-out ;


      @include mobile {
        margin-bottom: 20px;
      }


      &:hover {
        opacity: 0.5;
      }

      &:active {
        border: 1px solid var(--amethyst);
      }

      &:focus-visible {
        opacity: 0.5;
      }

      &-one {

        @include small-mobile {
          width: 50px;
          height: 50px;
        }
      }

      &-two {

        @include small-mobile {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  // &__wrap {
  //   border-top: 1px solid lightgray;
  // }

  &__map {
    border-top: 1px solid lightgray;
    height: 700px;

    @include small-mobile {
      height: 331px;
      border-top: none;
    }
  }

  [class*="ground-pane"] {
    filter: grayscale(1);
  }
}






