.events {
  padding-top: 89px;


  @include tablet-one {
    padding-top: 50px;
  }

  @include small-tablet {
    padding-top: 80px;
  }

  &__container {
    position: relative;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    color: var(--black);
    font-family: 'Open Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
  }

  &__wrapper {
    position: relative;
    margin-bottom: 30px;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      position: absolute;
      top: 51%;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      background-color: var(--whisper);
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;
      outline: none;

      &-next {
        right: 22px;
      }

      &-prev {
        left: 22px;
      }

      &:hover {
        background-color: var(--mauve);
      }

      &:focus-visible {
        border: 1px solid var(--amethyst);
        outline: none;
      }

      &:active {
        background-color: var(--mauve);
        border: 2px solid var(--amethyst);
      }

      &:disabled {
        opacity: 0;
        visibility: hidden;
      }

      @include tablet-one {
        display: none;
      }
    }
  }

  &__list {
    border: 1px solid var(--very-light-grey);
    box-sizing: border-box;

    @include tablet-one {
      height: 683px;

    }

    &-museums {
      display: block;
      max-width: 145px;
      color: var(--nobel);
      font-family: 'Open Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 13px;

      &-one {
        max-width: 100px;
      }
    }

    &-inner {
      padding: 13px 50px 40px 50px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      min-height: 400px;

      // @include tablet {
      //   min-height: 683px;
      // }

      @include tablet-one {
        padding: 0;
        // padding: 13px 34px 50px 34px;
        min-height: 437px;
      }

      @include small-tablet {
        min-height: 481px;
      }


    }

    &-picture {
      display: flex;
    }

    &-subtitle {

      margin: 0;
      color: var(--night-rider);
      font-family: 'Open Sans';
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 10px;
      max-width: 400px;

      @include tablet-one {
        line-height: 32px;
        padding-top: 8px;
        width: 269px;
        padding-left: 31px;
      }
    }

    &-descr {
      margin: 0;
      color: var(--night-rider);
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      // margin-bottom: 66px;

      // &-one {
      //   width: 452px;
      //   margin-bottom: 103px;
      // }

      @include tablet-one {
        padding-left: 34px;
        padding-right: 33px;
      }
    }

    &-details {
      position: relative;
      color: var(--amethyst);
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin-top: auto;
      outline: none;
      // padding-top: 65px;



      &::after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background-color: var(--amethyst);
        position: absolute;
        left: 0;

        @include tablet-one {
          left: 27%;
          bottom: 12%;
        }

        @include small-tablet {
          bottom: 62%;
        }
      }

      &:focus-visible {
        padding: 3px;
        border: 2px solid var(--amethyst);
      }


      @include tablet-one {
        padding-top: 0;
        padding-left: 33px;
      }

      @include small-tablet {
        padding-bottom: 44px;
      }
    }

    &-image {


      @include tablet-one {
        width: 100%;
        height: 200px;
      }


      @include small-tablet{
        width: 100%;
      }
   }


  }

  &__pagination {

    display: none;
    align-items: center;
    justify-content: center;

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: var(--dim-gray);
    }

    @include tablet-one {
      display: flex;
    }
  }


}





