.events {

  &__title {
    margin: 0;
    margin-bottom: 16px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__list {

    width: 500px;
    min-height: 700px;
    border: 1px solid var(--very-light-grey);


    &-museums {
      display: block;
      width: 206px;
      color: var(--nobel);
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-left: 50px;
      margin-bottom: 13px;

      &-one {
        width: 138px;
      }
    }

    &-subtitle {
      width: 419px;
      margin: 0;
      color: var(--night-rider);
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-left: 50px;
      margin-bottom: 10px;
    }

    &-descr {
      width: 422px;
      margin: 0;
      color: var(--night-rider);
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      padding-left: 50px;
      margin-bottom: 66px;

      &-one {
        width: 452px;
        margin-bottom: 103px;
      }
    }

    &-details {
      position: relative;
      color: var(--amethyst);
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      padding-left: 50px;

      &::after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background-color: var(--amethyst);
        padding-left: 50px;
        position: absolute;
        left: 50px;
      }
    }

  }
}




