.events {

  &__container {
    position: relative;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    color: var(--black);
    font-family: 'Open Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
  }

  &__wrapper {
    position: relative;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      position: absolute;
      top: 51%;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      background-color: var(--whisper);
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out ;

      &-next {
        right: 22px;
      }

      &-prev {
        left: 22px;
      }

      &:hover {
        background-color: var(--mauve);
      }

      &:focus {                                            //ТОЖE НЕ СРАБАОТЫВАЕТ
        border-color: var(--amethyst);
        outline: none;
      }

      &:active {
        background-color: var(--mauve);
        border: 2px solid var(--amethyst);
      }

      &:disabled {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__list {
    border: 1px solid var(--very-light-grey);
    box-sizing: border-box;

    &-museums {
      display: block;
      width: 206px;
      color: var(--nobel);
      font-family: 'Open Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 13px;

      &-one {
        width: 138px;
      }
    }

    &-inner {
      padding: 13px 50px 50px 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 400px;

      // @include tablet {
      //   min-height: 683px;
      // }

      @include tablet-one {
        padding: 13px 34px 50px 34px;
        min-height: 571px;
      }

      @include small-tablet {
        min-height: 350px;
      }


    }

    &-picture {
      display: flex;
    }

    &-subtitle {

      margin: 0;
      color: var(--night-rider);
      font-family: 'Open Sans';
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 10px;
    }

    &-descr {
      margin: 0;
      color: var(--night-rider);
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      // margin-bottom: 66px;

      // &-one {
      //   width: 452px;
      //   margin-bottom: 103px;
      // }
    }

    &-details {
      position: relative;
      color: var(--amethyst);
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin-top: auto;


      &::after {
        content: '';
        display: block;
        width: 88px;
        height: 1px;
        background-color: var(--amethyst);
        position: absolute;
        left: 0;
      }
    }

    &-image {

      @include small-tablet{
        width: 100%;
      }
   }


  }
}




