.footer {

  background-color: black;

    &__container {
      display: flex;
      justify-content: space-between;
      height: 140px;
      align-items: center;
  }

  &__wrap {
    display: flex;
    gap: 20px;
  }


  &__link {
    outline: none;

    & svg path {
      transition: fill .3s ease-in-out;
    }

    &:hover svg path,
    &:focus-visible svg path {
      fill: var(--white);
    }

    &:active svg path {
      fill: var(--amethyst);
    }




  }

}




