.footer {

  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;

  @include tablet-one {
    padding-top: 41px;
    padding-bottom: 39px;
  }

  @include small-mobile {
    height: 132px;
  }

    &__container {
      display: flex;
      justify-content: space-between;
      // height: 140px;
      align-items: center;

      @include small-mobile {
        flex-direction: column-reverse;
      }
    }

    &__logo {

      flex-shrink: 0;
      margin-right: 30px;

      @include small-mobile {
        // width: 96px;
        padding-bottom: 18px;
        margin-bottom: 10px;
      }
    }

  &__wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include small-mobile {
      padding-top: 20px;
    }
  }


  &__link {
    outline: none;

    &-vk {

      @include tablet-one {
        width: 60px;
        height: 60px;

        @include small-mobile {
          width: 50px;
          height: 50px;
        }
      }
    }

    &-ok {

      @include tablet-one {
        width: 60px;
        height: 60px;
      }

      @include small-mobile {
        width: 50px;
        height: 50px;
      }
    }

    & svg path {
      transition: fill .3s ease-in-out;
    }

    &:hover svg path,
    &:focus-visible svg path {
      fill: var(--white);
    }

    &:active svg path {
      fill: var(--amethyst);
    }




  }

}




