// .custom-checkbox { @include custom-checkbox};

.gallery {
  margin-bottom: 40px;
  min-height: 595px;
  background-image: url("../img/gallery-fon1.jpg");

  &__container {
    display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    justify-content: space-between;
    padding-top: 80px;
  }

  &__left {
    // display: flex;
    // flex-direction: column;
    // width: 40%;
    // margin-right: 50px;
    max-width: 400px;
    width: 100%;
  }

  &__title {
    margin: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--white);
  }

  &__filter {
    display: block;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--white);
  }

  // &__drop {

  //   &-list {
  //    color: var(--nobel);
  //    }
  //  }

  & .choices {

    &.header_choices {
      margin-right: 50px;
    }


    &__inner {
      width: 350px;
      height: 40px;
      // padding-left: 16px;
      padding-top: 0;
      background-color: transparent;
      border-radius: 6px;

      // position: relative;
      // border: 1px solid var(--white);
      // border-radius: 6px;
      // padding-left: 14px;
      // padding-right: 10px;
      // font-family: "Open Sans";
      // font-style: normal;
      // font-weight: 400;
      // font-size: 16px;
      // line-height: 32px;
      // color: var(--white);
    }

    &__item {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      padding-left: 16px;
      // color: var(--nobel);
    }

    &__list {
      color: var(--white);

      &--dropdown {
        border-radius: 6px;
      }
    }

    &__list .choices__list {
      background-color: black;
    }

    & .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
      position: relative;
      font-size: 16px;
      padding-left: 22px;
    }

    & .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      padding-left: 20px;
      background-color: #999999;
    }
  }

  & .choices[data-type*="select-one"]::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    right: 18px;
    top: 14px;
    border-top: 1px solid var(--white);
    border-right: 1px solid var(--white);
    transform: rotate(135deg);
    pointer-events: none;
  }

  & .choices[data-type*="select-one"]::after {
    display: none;
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
  }

  // & .choices__list.choices__list--dropdown .choices__placeholder {
  //   display: none;
  // }

  & .choices__list .choices__item.is-selected {
    display: none;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    padding-top: 123px;
  }

  &__custom-checkbox {
    margin-bottom: 10px;
    cursor: pointer;

    &--field:checked ~ &--visible::before {
      opacity: 1;
    }

    &--field:checked ~ &--visible {
      border-color: var(--wisteria);
    }

    &--field:checked ~ &--content {
      color: var(--wisteria);
      transition: color 0.3s ease-in-out;
    }

    &--visible {
      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 12px;
      border: 1px solid var(--white);
      transition: border-color 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--wisteria);
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
      }
    }

    &--content {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: var(--white);
      transition: color 0.3s ease-in-out;
    }

    &:hover .gallery__custom-checkbox--content {
      color: var(--wisteria);
    }

    &:hover .gallery__custom-checkbox--visible {
      border-color: var(--wisteria);
    }
  }

  // &__drop {
  //   display: block;
  //   border: 1px solid var(--white);
  //   border-radius: 6px;
  //   padding-left: 14px;
  //   padding-right: 10px;
  //   font-family: 'Open Sans';
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 32px;
  //   color: var(--white);

  //   &::after {
  //     content: "";
  //     display: inline-block;
  //     width: 10px;
  //     height: 5px;
  //     border-top: 1px solid var(--white) ;
  //     border-right: 1px solid var(--white);
  //     margin-left: 70%;
  //     margin-bottom: 4px;
  //     transform: rotate(135deg);
  //   }
  // }

  &__right {
    max-width: 1150px;
    width: 100%;
    padding-top: 20px;

    &-navigation {
      display: inline-flex;
      align-items: center;
      margin-bottom: 30px;
    }

    &-pagination {
      font-size: 16px;
      font-family: "Open Sans";
      line-height: 32px;
      margin-right: 11px;
      text-align: center;
      color: var(--white);
    }

    &-btn {
      position: relative;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      margin-right: 11px;
      background-color: var(--dim-gray);
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 7px / 2);
        width: 7px;
        height: 7px;
        transform: rotate(45deg);
        transform-origin: center;
      }

      &.swiper-button-disabled {
        cursor: auto;
        background-color: rgba(102, 102, 102, 0.5);
      }
    }

    & .btn-next {

      // border: 2px solid var(--black);
      transition: background-color .3s ease;


      &:focus-visible {
        outline: none;
        border: 2px solid var(--black);
      }

      &:hover {
        background-color: var(--amethyst);
      }

      &:active {
        background-color: var(--studio);
      }
    }

    & .btn-prev {
      // border: 2px solid var(--black);
      margin-right: 10px;
      transition: background-color .3s ease;


      &:focus-visible {
        outline: none;
        border: 2px solid var(--black);
      }

      &:hover {
        background-color: var(--amethyst);
      }

      &:active {
        background-color: var(--studio);
      }
    }

    & .btn-next::before {
      left: calc(43% - 7px / 2);
      border-top: 1px solid var(--white);
      border-right: 1px solid var(--white);
    }

    & .btn-prev::before {
      left: calc(50% - 7px / 2);
      border-left: 1px solid var(--white);
      border-bottom: 1px solid var(--white);
    }
  }

  &__image {                                                        // НЕТУ АУТЛАЙНА  НУ ИЛИ БОРДЕРА
      width: 350px;
      height: 350px;

      &:active {
        opacity: 1;
        border: 3px solid var(--studio);
      }

  }

  &__swiper {

    &-link {

    }

      & .swiper-gallery {


      &::before {
        content: "";
        width: 350px;
        height: 350px;
        position: absolute;
        background-color: rgba(194, 131, 243, 0.4);
        z-index: 2;
        opacity: 0;
        transition: opacity .3s ease-in-out, outline .3s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 25px;
        width: 300px;
        height: 300px;
        background-image: url("../../img/galleryplus.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 2;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity .3s ease-in-out;
      }

      &:focus-visible:not(:hover):not(:active) {
        outline: 3px solid var(--studio);
      }

      &:hover::after {
          opacity: 1;
        }

      // &:active::before {
      //   opacity: 1;
      //   outline: 3px solid var(--studio);
      // }

    }
  }



}

