.burger { @include burger};

.simplebar-content-wrapper {
  overflow: auto;
}

.header {


  &__top {
    background-color: var(--black);

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 100px;

      .burger {
        display: none;

        @include tablet {
          display: block;
          margin: 0;
          // position: absolute;
          // top: 7%;
        }

        @include mobile {
          // margin-left: 24px;
        }
      }
    }

    &-link {

      outline: none;


      // @include tablet {
      //   & {
      //     margin-right: 10%;
      //     position: absolute;
      //     left: 40%;
      //     top: 7%;
      //   }
      // }

      @include mobile {
        & {
          position: absolute;
          left: 35%;
          // top: 7%;
        }
      }

      @include small-mobile {
        & {
          width: 107px;

        }
      }

    }

    &-image {

        @include small-mobile {
        width: 108px;
        height: 25px;
      }
    }

    &-nav {
      display: contents;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        & {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          height: 100vh;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          transition: transform .3s ease;
        }
      }

      &.menu--active {
        position: absolute;
        top: 0;
        // left: 5%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 1;
        z-index: 10;
        visibility: visible;
        transform: translateY(0%);


        @include tablet {
          align-items: flex-start;
        }
      }

      &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 784px;

        @include tablet {
          & {
          display: flex;
          flex-direction: column;
          padding-top: 10%;
          padding-left: 50px;
          }
        }

        @include mobile {
          & {
            padding-top: 15%;
          }
        }
      }

      &-item {

      &:not(:last-child) {
        margin-right: 68px;

          @include mobile {
            padding-bottom: 5px;
          }
        }
      }

      &-link {
        position: relative;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: var(--white);
        z-index: 1;
        transition: color .3s ease-in-out;
        outline: none;

        @include tablet {
        font-size: 24px;
        line-height: 64px;
        color: var(--white);
        }

        @include mobile {
        font-size: 16px;
        line-height: 32px;
        }

        &:focus-visible:not(:hover):not(:active)::after {
          content: "";
          position:absolute;
          left: -7px;
          top: -3px;
          bottom: -3px;
          width: calc(100% + 14px);
          background-color: var(--studio);
          z-index: -1;
          outline: none;
          animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
        }

        &:hover {
          color: var(--wisteria);
        }

        &:active{
          color: var(--studio);
        }
      }

      @keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}

    }

    &-btn {
      position: relative;
      display: flex;
      align-items: baseline;
      color: var(--white);
      // transition: fill .3s ease-in-out;
      outline: none;


      &:focus-visible:not(:hover):not(:active)::after {        // ПАРАДОКС , афтер применяется а все целиком нет
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: calc(100% + 14px);
        background-color: var(--studio);
        z-index: -1;
        outline: none;
      }

      &:hover .header__top-btn-wrap {
        margin-left: -4px;
        padding-left: 4px;
      }




      &:hover .header__top-btn-link {
        fill: var(--wisteria);
      }

      &:active .header__top-btn-link {
        fill: var(--amethyst);
      }

      @include tablet {
        padding: 22px 88px;
        margin-bottom: 50px;
        border: 2px solid var(--amethyst);
        border-radius: 100px;
        background: transparent;
        margin-left: 50px;
      }

      &-wrap {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        transition-property: margin-left, padding-left;
        transition-duration: .3s;
      }

      &-link {
        fill: var(--white);
        margin-left: -4px;
        transition: fill .3s ease-in-out;
      }

      &-heading {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: var(--white);
        padding-left: 7px;
        transition: color .3s ease-in-out;

        &:hover {
          color: var(--wisteria);
        }

        &:active {
          color: var(--amethyst);
        }

      }

    }
  }


  &__bottom {

    position: absolute;
    right: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 3;

    @include tablet {

      & {
        display: none;
      }
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding-top: 23px;
      padding-bottom: 10px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      width: 70%;
      flex-wrap: wrap;
    }

    &-item {
      position: relative;
      color: gray;
      padding-bottom: 20px;
      list-style: none;
    }

    &-btn {

      height: 100%;
      display: flex;
      align-items: center;
      outline: none;
      padding-right: 10px;
      border: none;
      background-color: transparent;
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
      transition: color 0.2s ease-in-out;
      cursor: pointer;
      transition: color .3s ease-in-out;


      &:focus-visible:not(:hover):not(:active)::before {
        content: "";
        position: absolute;
        left: -10px;
        top: -4px;
        bottom: 15px;
        width: calc(100% + 10px);
        background-color: var(--studio);
        z-index: -1;
        outline: none;
        animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both;
      }

      @keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}};


      &:hover {
        color: var(--amethyst);
      }

      &:active{
        color: var(--studio);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-top: 1px solid;
        border-right: 1px solid;
        margin-left: 10px;
        margin-top: -3px;
        transform: rotate(135deg);
        transition: transform 0.5s ease;
        transform-origin: cente;
      }

      &.is-active {
        color: var(--studio);
      }

      &.is-active::after {
        transform: rotate(-45deg) translateY(4px);
      }

      &:active {
        color: var(--studio);
      }

      &-heading {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: var(--white);
        transition: color .3s ease-in-out;

        &:hover {
          color: var(--amethyst);
        }

        &:active{
          color: var(--studio);
        }

      }

    }


    &-drop {


      position: absolute;
      bottom: 1px;
      left: 0;
      display: none;
      padding: 40px 20px 40px 40px;
      background-color: rgba(0, 0, 0, 0.6);
      transform: translateY(100%);

      & .simplebar-track.simplebar-vertical{
        width: 2px;
        background-color: var(--black);
      }

      & .simplebar-track.simplebar-vertical
      .simplebar-scrollbar:before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--white);
        opacity: 1;
      }

      &.is-active {
        display: block;
        animation-name: dropdownOpen;
        animation-duration: 0.4s;
      }

      &.is-disabled {
        display: block;
        animation-name: dropdownClose;
        animation-duration: 0.4s;
      }

      &-wrap {

        width: 240px;
        max-height: 240px;

        & .simplebar-wrapper {
          overflow: visible;
        }

        &-list {
          list-style: none;
          padding-left: 0;
        }

        &-item {
          width: 220px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }

        &-link {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: var(--white);
          position: relative;
          display: block;
          padding: 10px 15px;
          border: 2px solid transparent;
          font-size: 14px;
          background-color: #000;
          background-origin: border-box;
          transition: border-color .3s ease;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(194, 131, 243, 0.4);
            opacity: 0;
            transition: opacity .3s ease;
          }

          &:hover,
          &:focus {
            outline: none;
            border-color:var(--amethyst);
          }

          &:active::before{
            opacity: 1;
          }

          &--tintoretto {
            background-image: url("../img/tintoretto.webp");
          }

          &--fridrih {
            background-image: url("../img/fridrih.webp");
          }

          &--leonardo {
            background-image: url("../img/leonardo.webp");
          }

          &--verokko {
            background-image: url("../img/verokko.webp");
          }

          &--mone {
            background-image: url("../img/mone.webp");
          }

          &--sisley{
            background-image: url("../img/sisley.webp");
          }

          &--mane {
            background-image: url("../img/mane.webp");
          }

          &--renyar {
            background-image: url("../img/renyar.webp");
          }

          &--vangog {
            background-image: url("../img/vangog.webp");
          }

          &--sezan{
            background-image: url("../img/sezan.webp");
          }

          &--gogen {
            background-image: url("../img/gogen.webp");
          }

          &--sera {
            background-image: url("../img/sera.webp");
          }

          &--kandinskiy {
            background-image: url("../img/kandinskiy.webp");
          }

          &--marinetti {
            background-image: url("../img/marinetti.webp");
          }

          &--malevich {
            background-image: url("../img/malevich.webp");
          }

          &--picasso {
            background-image: url("../img/picasso.webp");
          }

          &--kappa {
            background-image: url("../img/kappa.webp");
          }

          &--pratella {
            background-image: url("../img/pratella.webp");
          }

          &--severini {
            background-image: url("../img/severini.webp");
          }

          &--balla {
            background-image: url("../img/balla.webp");
          }
        }
      }
    }

    @keyframes dropdownOpen {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes dropdownClose {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }


  // ФОРМA ПОИСКА


  &__search {

    &-top {
      display: none;

      @include tablet {
        display: block;
      }

      &-btn {


        &-img {
          width: 30px;
          height: 30px;
          // margin-right: 49px;
          fill: var(--white);

          &:hover{
            stroke: var(--wisteria);
            fill: var(--wisteria);
          }

          @include tablet {
            & {
              right: 2%;
              top: 7%;
            }
          }

          @include mobile {
            & {
              right: -3%;
              top: 7%;
            }
          }

          @include small-mobile {
           & {
            width: 18px;
            height: 18px;
           }
          }
        }
      }

      & .form__btn-close {
        width: 22px;
        height: 22px;
        fill: var(--white);
      }


    }

    &-btn {

      &-img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: var(--white);
      }
    }
  }

  &__form {

    &-top {

      & .form__active {
        opacity: 1;
        visibility: visible;
      }
    }

    &-bottom {
      display: flex;
      // align-items: center;
    }

    // &__search {

    // }

    &-input{
      outline: none;
      color: var(--white);
      border-bottom: 1px solid var(--white);
      background-color: transparent;
      transition: border-bottom .3s ease-in-out;

      &:focus::placeholder {
        color: transparent;
      }

      &:hover {
        border-bottom: 1px solid var(--wisteria);
      }
    }

    &-input::placeholder {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}











