.hero {


  @include small-tablet {
    height: 309px;
  }


  &__swiper {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  &__image {
    width: 100%;
    height: 800px;

    @include tablet {
      & {
        height: 768px;
      }
    }
  }

  position: relative;
   // top: 0px;
  // height: 800px;
  // margin-bottom: 90px;

  &__content {
    // position: relative;
    max-width: 597px;
    padding: 132px 0px;
    // max-width: 597px;
    // padding-right: 20px;
    // margin-left: 50px;
    // z-index: 1;
    // padding-bottom: 133px;


    @include tablet-one {
      padding-top: 106px;
      max-width: 700px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
    }

    @include small-mobile {
      padding-top: 25px;
      text-align: center;
    }



    &-title {
      margin: 0;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 98px;
      color: var(--white);
      margin-bottom: -2px;

      &-hidden {
        display: none;
      }

      @include mobile {
        font-size: 32px;
        line-height: 50px;
      }

      @include small-mobile {
        margin-bottom: 5px;
      }


    }

    &-text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: var(--white);
      margin-top: 0;
      margin-bottom: 92px;
      max-width: 545px;

      @include tablet-one {
        line-height: 28px;
        margin-top: -10px;
        margin-top: -10px;
        max-width: 661px;
      }

      @include mobile {
        font-size: 12px;
        // max-width: 547px;
        margin-bottom: 20px;
      }

      @include small-mobile {
        font-weight: 400;
        line-height: normal;
        // line-height: 28px;
        width: 265px;
      }
    }

    &-btn {
      display: inline-block;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: var(--white);
      border-radius: 100px;
      background: var(--amethyst);
      padding: 22px 35px;
      transition: border .3s ease, background-color .3s ease, outline .3s ease ;
      // outline: 0px  solid red;

      &:focus-visible:not(:hover):not(:active)  {
        outline: 2px  solid var(--wisteria);
        outline-offset: 5px;
      }

      &:hover{
        outline: 3px solid var(--mauve);
      }

      &:active {
        border: 3px solid var(--mauve);
        background-color: var(--studio);
      }

      @include tablet-one {
        margin-top: 44px;
      }

      @include mobile {
        font-size: 12px;
        padding: 11px 16px 14px 19px;
      }

      @include small-mobile {
        margin-top: 17px;
      }
    }

  }
}
