.hero {
  &__image {
    width: 100%;

    @include tablet {
      & {
        height: 768px;
      }
    }
  }

  position: relative;
  // top: 0px;
  // height: 800px;
  // background-image: url("../img/slider1.webp");
  // background-repeat: no-repeat;
  // background-size: cover;
  // margin-bottom: 90px;

  &__content {
    position: absolute;
    top: 18%;
    max-width: 597px;
    padding-right: 20px;
    // margin-left: 50px;
    z-index: 1;
    // padding-bottom: 133px;

    &-title {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 98px;
      color: var(--white);
      margin-bottom: 0;

      &-hidden {
        display: none;
      }
    }

    &-text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: var(--white);
      margin-top: 0;
      margin-bottom: 92px;
      width: 545px;
    }

    &-btn {                                                // при увеличени экрана кнопка  уезжает
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: var(--white);
      border-radius: 100px;
      background: var(--amethyst);
      padding: 22px 35px;
      transition: outline .3s ease;
      // outline: 0px  solid red;

      &:focus-visible:not(:hover):not(:active)  {
        outline: 2px  solid var(--wisteria);
        outline-offset: 5px;
      }

      &:hover{
        outline: 3px solid var(--mauve);
      }

      &:active {
        outline: 3px solid var(--mauve);
        background-color: var(--studio);
      }
    }
  }
}
