.projects {

  padding-top: 13px;
  margin-bottom: 77px;

  @include tablet-one {
    margin-bottom: 55px;
  }

  @include small-mobile {
    padding-top: 0;
    margin-bottom: -68px;
  }


  &__container {

    @include tablet-one {
      padding-top: 30px;
    }

    @include small-mobile {
      padding: 0 16px 39px 14px;
    }
  }


  &__title {
    color: var(--night-rider);
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include small-mobile {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 38px;
    }
  }

  &__descr {
    max-width: 1069px;
    color: var(--night-rider);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 30px;

    &-link {
      color: var(--amethyst);
    }
  }

  &__subtitle {
    margin-top: 0;
    color: var(--night-rider);
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

      @include small-tablet {
        margin-top: 27px;
      }

      @include small-mobile {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: -29px;
        margin-top: 52px;
      }
    }

    &__partners {

      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1450px;
      height: 150px;
      // padding: 0 50px;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: var(--whisper);
        border-radius: 100%;
        position: absolute;
        top: 52%;

        &-prev {
          left: 48px;

          @include small-tablet {
            top: 29%;
          }

          @include small-mobile {
            top: 12%;
            left: 4%;
          }
        }

        &-next {
          right: 48px;

          & svg {
            transform: rotate(180deg);
          }

          @include small-tablet {
            top: 29%;
          }

          @include small-mobile {
            right: 4%;
            top: 12%;
          }
        }

        &:hover {
          background-color: var(--mauve);
        }

        &:focus-visible {
          border: 1px solid var(--amethyst);
          outline: none;
        }

        &:active {
          background-color: var(--mauve);
          border: 2px solid var(--amethyst);
        }

      }

      &-link {

        border: 1px solid #CACACA;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        opacity: .5;
        transition: opacity .3s ease-in-out, filter .3s ease-in-out;

        & picture {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          filter: grayscale(0);
          opacity: 1;
        }

        &:active {
          border-color: var( --amethyst);
        }

        @include tablet-one {
          height: 128px;
        }

        @include small-tablet {
          height: 114px;
        }

        @include small-mobile {
          height: 65px;
        }
      }

      &-image {
        // padding: 44px 103px;
        // border: 1px solid #CACACA;
        background: #FFF;
        height: 42%;
        width: 100%;
        object-fit: contain;

        @include tablet-one {
          width: 84%;
        }

        @include small-mobile {
          width: 56%;
        }
      }

      @include media(1600px) {
        max-width: 1200px;
      }

      @include tablet-one {
        max-width: 818px;
      }

      @include small-tablet {
        max-width: 562px;
      }

      @include small-mobile {
        max-width: 190px;
      }



    }

    & .projects__swiper-container {
      position: relative;
      // max-width: 1450px;
    }

    &__tooltip {
      display: inline-flex;
      align-items:center;
      justify-content: center;
      font-weight: 600;
      font-size: 13px;
      border-radius: 25px;
      color: var(--black);
      width: 16px;
      height: 16px;
      padding: 0px;
      border: 1px solid var(--amethyst);

      &:hover {
        background-color: var(--mauve);
      }

      &:active {
        background-color: var(--amethyst);
        color: var(--white);
      }
    }

}




.tippy-box[data-theme~='test-tooltip'] {
  background-color:var(--studio);
  border-radius: 5px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}



