<section class="catalog">
  <div class="catalog__container container">
    <h2 class="catalog__title">Каталог</h2>
    <p class="catalog__content">Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.</p>

    <div class="catalog__wrap js-tabs-wrap">
      <div class="catalog__wrap-left active js-tab-content">
        <picture>
          <source srcset="img/catalog.webp" type="image/webp">
          <img loading="lazy" src="img/catalog.jpg" class="catalog__image" width="750px" height="470px" alt="изображение Доминико Гирландайо">
        </picture>
        <h3 class="catalog__wrap-title">Доменико Гирландайо</h3>
        <span class="catalog__wrap-date">2 июня 1448–11 января 1494</span>
        <p class="catalog__wrap-text">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в течение года овладевал профессиональными навыками. Автор фресковых циклов, в которых выпукло, со всевозможными подробностями показана домашняя жизнь библейских персонажей (в их роли выступают знатные граждане Флоренции в костюмах того времени).</p>
      </div>

      <div class="catalog__wrap-right">
        <ul class="catalog__wrap-list list-reset accordion-container">
          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn  ac-trigger" >
              <span class="catalog__wrap-btn-date ac-header">C 1400 по 1499 гг</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>

            <div class="catalog__wrap-content ac-panel">
              <ul class="catalog__wrap-content-list list-reset ">
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Бенедетто ди Биндо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Бергоньоне, Амброджо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Биссоло, Франческо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Больтраффио, Джованни</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Бонсиньори, Франческо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Боттичини, Рафаэлло</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Брамантино</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Бреа, Людовико</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Бьяджо д’Антонио Туччи</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Веккьетта</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Андреа Верроккьо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn" data-path="empty">
                    <span class="catalog__wrap-content-text">Доменико Гирландайо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Беноццо Гоццоли</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Граначчи, Франческо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Грегорио ди Чекко</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Джованни да Удине</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Джованни ди Паоло</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Джорджоне</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Парентино, Бернардо</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Пезеллино</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Пьетро Перуджино</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Перуцци, Бальдассаре</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Пизанелло</span>
                  </button>
                </li>
                <li class="catalog__wrap-content-item">
                  <button class="catalog__wrap-content-btn js-tab-btn"  data-path="empty">
                    <span class="catalog__wrap-content-text">Пинтуриккьо</span>
                  </button>
                </li>
              </ul>
            </div>
          </li>



          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn  ac-trigger">
              <span class="catalog__wrap-btn-date ac-header">C 1500 по 1599 гг</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>
            <div class="catalog__wrap-content ac-panel">
              <img class="catalog__wrap-content-img" src="img/greyfon.jpg" alt="серый фон">
              <div class="catalog__wrap-content-right">
                <h3 class="catalog__wrap-content-right-title">Здесь пока пусто</h3>
                <p class="catalog__wrap-content-right-text">А в галерее вы всегда можете найти что-то интересное для себя</p>
                <a href="#gallery" class="catalog__wrap-content-right-link">В галерею</a>
              </div>
            </div>
          </li>
          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn ac-trigger">
              <span class="catalog__wrap-btn-date ac-header">C 1600 по 1699 гг</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>
            <div class="catalog__wrap-content ac-panel">
              <img class="catalog__wrap-content-img" src="img/greyfon.jpg" alt="серый фон">
              <div class="catalog__wrap-content-right">
                <h3 class="catalog__wrap-content-right-title">Здесь пока пусто</h3>
                <p class="catalog__wrap-content-right-text">А в галерее вы всегда можете найти что-то интересное для себя</p>
                <a href="#gallery" class="catalog__wrap-content-right-link">В галерею</a>
              </div>
            </div>
          </li>
          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn ac-trigger">
              <span class="catalog__wrap-btn-date ac-header">C 1700 по 1799 гг</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>
            <div class="catalog__wrap-content ac-panel">
              <img class="catalog__wrap-content-img" src="img/greyfon.jpg" alt="серый фон">
              <div class="catalog__wrap-content-right">
                <h3 class="catalog__wrap-content-right-title">Здесь пока пусто</h3>
                <p class="catalog__wrap-content-right-text">А в галерее вы всегда можете найти что-то интересное для себя</p>
                <a href="#gallery" class="catalog__wrap-content-right-link">В галерею</a>
              </div>
            </div>
          </li>
          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn ac-trigger">
              <span class="catalog__wrap-btn-date ac-header">C 1800 по 1899 гг</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>
            <div class="catalog__wrap-content ac-panel">
              <img class="catalog__wrap-content-img" src="img/greyfon.jpg" alt="серый фон">
              <div class="catalog__wrap-content-right">
                <h3 class="catalog__wrap-content-right-title">Здесь пока пусто</h3>
                <p class="catalog__wrap-content-right-text">А в галерее вы всегда можете найти что-то интересное для себя</p>
                <a href="#gallery" class="catalog__wrap-content-right-link">В галерею</a>
              </div>
            </div>
          </li>
          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn ac-trigger">
              <span class="catalog__wrap-btn-date ac-header">C 1900 по 1999 гг</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>
            <div class="catalog__wrap-content ac-panel">
              <img class="catalog__wrap-content-img" src="img/greyfon.jpg" alt="серый фон">
              <div class="catalog__wrap-content-right">
                <h3 class="catalog__wrap-content-right-title">Здесь пока пусто</h3>
                <p class="catalog__wrap-content-right-text">А в галерее вы всегда можете найти что-то интересное для себя</p>
                <a href="#gallery" class="catalog__wrap-content-right-link">В галерею</a>
              </div>
            </div>
          </li>
          <li class="catalog__wrap-item ac js-enabled">
            <button class="catalog__wrap-btn ac-trigger">
              <span class="catalog__wrap-btn-date ac-header">C 2000 г</span>
              <svg class="catalog__wrap-btn-open" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z" fill="#ECECEC"/>
                <path d="M33.3333 23.3333L25 31.6667L16.6667 23.3333" stroke="black"/>
              </svg>
            </button>
            <div class="catalog__wrap-content ac-panel">
              <img class="catalog__wrap-content-img" src="img/greyfon.jpg" alt="серый фон">
              <div class="catalog__wrap-content-right">
                <h3 class="catalog__wrap-content-right-title">Здесь пока пусто</h3>
                <p class="catalog__wrap-content-right-text">А в галерее вы всегда можете найти что-то интересное для себя</p>
                <a href="#gallery" class="catalog__wrap-content-right-link">В галерею</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</section>



