<section class="events">
  <div class="events__container container">
    <h2 class="events__title">События</h2>
    <div class="events__wrapper">
      <div class="events__list">
        <picture>
          <source srcset="img/events-one.webp" type="image/webp">
          <img loading="lazy" src="img/events-one.jpg" class="events__list-image" width="500px" height="300px" alt="событие в музее имени Щусева">
        </picture>
        <span class="events__list-museums">Музей им. Щусева с 20 марта по 30 апреля</span>
        <h3 class="events__list-subtitle">Книжная гравюра в живом восприятии</h3>
        <p class="events__list-descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо</p>
        <span class="events__list-details">Подробнее</span>
      </div>
      <div class="events__list">
        <picture>
          <source srcset="img/events-two.webp" type="image/webp">
          <img loading="lazy" src="img/events-two.jpg" class="events__list-image" width="500px" height="300px" alt="событие в музее ММОМА">
        </picture>
        <span class="events__list-museums">ММОМА 24 марта 19:00</span>
        <h3 class="events__list-subtitle">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h3>
        <p class="events__list-descr">Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта</p>
        <span class="events__list-details">Подробнее</span>
      </div>
      <div class="events__list">
        <picture>
          <source srcset="img/events-three.webp" type="image/webp">
          <img loading="lazy" src="img/events-three.jpg" class="events__list-image" width="500px" height="300px" alt="событие в Еврейском музее">
        </picture>
        <span class="events__list-museums">Еврейский музей с 31 марта по 21 апреля</span>
        <h3 class="events__list-subtitle">Выставка «Формация 2020»</h3>
        <p class="events__list-descr">Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании глубокомысленных рассуждений</p>
        <span class="events__list-details">Подробнее</span>
      </div>
    </div>
  </div>
</section>



