<section class="events">
  <div class="events__container container">
    <h2 class="events__title">События</h2>
    <div class="events__wrapper">
      <svg class="events__wrapper-prev" width="50" height="50" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z" fill="#ECECEC"/>
        <path d="M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z" stroke="#ECECEC"/>
        <path d="M16 20L11 15L16 10" stroke="black"/>
      </svg>
      <div class="events__list">
        <picture>
          <source srcset="img/events-one.webp" type="image/webp">
          <img loading="lazy" src="img/events-one.jpg" class="events__list-image" width="500px" height="300px" alt="событие в музее имени Щусева">
        </picture>
        <span class="events__list-museums">Музей им. Щусева с 20 марта по 30 апреля</span>
        <h3 class="events__list-subtitle">Книжная гравюра в живом восприятии</h3>
        <p class="events__list-descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо</p>
        <span class="events__list-details">Подробнее</span>
      </div>
      <div class="events__list">
        <picture>
          <source srcset="img/events-two.webp" type="image/webp">
          <img loading="lazy" src="img/events-two.jpg" class="events__list-image" width="500px" height="300px" alt="событие в музее ММОМА">
        </picture>
        <span class="events__list-museums events__list-museums-one">ММОМА 24 марта 19:00</span>
        <h3 class="events__list-subtitle">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h3>
        <p class="events__list-descr">Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта</p>
        <span class="events__list-details">Подробнее</span>
      </div>
      <div class="events__list">
        <picture>
          <source srcset="img/events-three.webp" type="image/webp">
          <img loading="lazy" src="img/events-three.jpg" class="events__list-image" width="500px" height="300px" alt="событие в Еврейском музее">
        </picture>
        <span class="events__list-museums">Еврейский музей с 31 марта по 21 апреля</span>
        <h3 class="events__list-subtitle">Выставка «Формация 2020»</h3>
        <p class="events__list-descr events__list-descr-one">Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании глубокомысленных рассуждений</p>
        <span class="events__list-details">Подробнее</span>
      </div>

      <div class="events__list events__list-one">
        <picture>
          <source srcset="img/events-four.webp" type="image/webp">
          <img loading="lazy" src="img/events-four.jpg" class="events__list-image" width="500px" height="300px" alt="событие в музее ММОМА">
        </picture>
        <span class="events__list-museums">ММАМ с 8 апреля по 20 мая</span>
        <h3 class="events__list-subtitle">Джон Винзор. Фотографии из серии «Метафора»</h3>
        <p class="events__list-descr events__list-descr-one">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо</p>
        <span class="events__list-details">Подробнее</span>
      </div>

      <div class="events__list events__list-one">
        <picture>
          <source srcset="img/events-five.webp" type="image/webp">
          <img loading="lazy" src="img/events-five.jpg" class="events__list-image" width="500px" height="300px" alt="событие в Третьяковкt на Крымском валу">
        </picture>
        <span class="events__list-museums">Третьяковка на Крымском валу с 30 марта по 30 апреля</span>
        <h3 class="events__list-subtitle">XXIV Международная биеннале молодого искусства</h3>
        <p class="events__list-descr events__list-descr-one">Внезапно, реплицированные с зарубежных источников, современные исследования</p>
        <span class="events__list-details">Подробнее</span>
      </div>
      <svg class="events__wrapper-next" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 2.72191e-06C38.8071 2.11838e-06 50 11.1929 50 25C50 38.8071 38.8071 50 25 50C11.1929 50 -4.89256e-07 38.8071 -1.09278e-06 25C-1.69631e-06 11.1929 11.1929 3.32544e-06 25 2.72191e-06Z" fill="#ECECEC"/>
        <path d="M25 2.72191e-06C38.8071 2.11838e-06 50 11.1929 50 25C50 38.8071 38.8071 50 25 50C11.1929 50 -4.89256e-07 38.8071 -1.09278e-06 25C-1.69631e-06 11.1929 11.1929 3.32544e-06 25 2.72191e-06Z" stroke="#ECECEC"/>
        <path d="M23.3333 16.6667L31.6667 25L23.3333 33.3333" stroke="black"/>
      </svg>
    </div>
  </div>
</section>



