<section class="events">
  <div class="events__container container">
    <h2 class="events__title">События</h2>

    <div class="events__wrapper swiper">

     <div class="swiper-wrapper">

      <div class="events__list swiper-slide">
        <picture class="events__list-picture">
          <source srcset="img/events-one.webp" type="image/webp">
          <img loading="lazy" src="img/events-one.jpg" class="events__list-image" width="500" height="300" alt="событие в музее имени Щусева">
        </picture>
        <div class="events__list-inner">
          <span class="events__list-museums">Музей им. Щусева с 20 марта по 30 апреля</span>
          <h3 class="events__list-subtitle">Книжная гравюра <no-typography>в живом восприятии</no-typography></h3>
          <p class="events__list-descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо</p>
          <span class="events__list-details">Подробнее</span>
        </div>
      </div>

      <div class="events__list swiper-slide">
        <picture class="events__list-picture">
          <source srcset="img/events-two.webp" type="image/webp">
          <img loading="lazy" src="img/events-two.jpg" class="events__list-image" width="500" height="300" alt="событие в музее ММОМА">
        </picture>
        <div class="events__list-inner">
          <span class="events__list-museums events__list-museums-one">ММОМА 24 марта 19:00</span>
          <h3 class="events__list-subtitle">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h3>
          <p class="events__list-descr">Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта</p>
          <span class="events__list-details">Подробнее</span>
        </div>
      </div>

      <div class="events__list swiper-slide">
        <picture class="events__list-picture">
          <source srcset="img/events-three.webp" type="image/webp">
          <img loading="lazy" src="img/events-three.jpg" class="events__list-image" width="500" height="300" alt="событие в Еврейском музее">
        </picture>
        <div class="events__list-inner">
          <span class="events__list-museums">Еврейский музей с 31 марта по 21 апреля</span>
          <h3 class="events__list-subtitle">Выставка «Формация 2020»</h3>
          <p class="events__list-descr events__list-descr-one">Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании глубокомысленных рассуждений</p>
          <span class="events__list-details">Подробнее</span>
        </div>
      </div>

      <div class="events__list swiper-slide">
        <picture class="events__list-picture">
          <source srcset="img/events-four.webp" type="image/webp">
          <img loading="lazy" src="img/events-four.jpg" class="events__list-image" width="500" height="300" alt="событие в музее ММОМА">
        </picture>
        <div class="events__list-inner">
          <span class="events__list-museums">ММАМ с 8 апреля по 20 мая</span>
          <h3 class="events__list-subtitle">Джон Винзор. Фотографии из серии «Метафора»</h3>
          <p class="events__list-descr events__list-descr-one">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо</p>
          <span class="events__list-details">Подробнее</span>
        </div>
      </div>

      <div class="events__list swiper-slide">
        <picture class="events__list-picture">
          <source srcset="img/events-five.webp" type="image/webp">
          <img loading="lazy" src="img/events-five.jpg" class="events__list-image" width="500" height="300" alt="событие в Третьяковкt на Крымском валу">
        </picture>
        <div class="events__list-inner">
          <span class="events__list-museums">Третьяковка на Крымском валу с 30 марта по 30 апреля</span>
          <h3 class="events__list-subtitle">XXIV Международная биеннале молодого искусства</h3>
          <p class="events__list-descr events__list-descr-one">Внезапно, реплицированные с зарубежных источников, современные исследования</p>
          <span class="events__list-details">Подробнее</span>
       </div>
      </div>
     </div>

    </div>

    <button class="events__wrapper-btn events__wrapper-btn-prev btn-reset">
      <svg class="events__wrapper-prev" width="9" height="15" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 11L0.999995 6L6 0.999998" stroke="black"/>
      </svg>
     </button>

     <button class="events__wrapper-btn events__wrapper-btn-next btn-reset">
      <svg class="events__wrapper-next" width="9" height="15" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.999998L6 6L1 11" stroke="black"/>
      </svg>
    </button>

  </div>
</section>



