<section class="gallery">
  <div class="gallery__container container">
    <div class="gallery__wrap">
      <div class="gallery__left">
        <h2 class="gallery__left-title">Галерея</h2>
        <h3 class="gallery__left-subtitle">Фильтр:</h3>

        <select class="gallery__left-select js-choice"  name="art">
          <option class="gallery__left-select-list" value="Живопись">Живопись</option>
          <option class="gallery__left-select-list" value="Скульптура">Скульптура</option>
          <option class="gallery__left-select-list" value="Рисунок">Рисунок</option>
        </select>



        <div class="gallery__checkbox">

          <label class="gallery__custom-checkbox">
              <input type="checkbox" class="visually-hidden gallery__custom-checkbox-field">
              <span class="gallery__custom-checkbox-visible"></span>
              <span class="gallery__custom-checkbox-content">XIX Век</span>
            </label>

            <label class="gallery__custom-checkbox">
              <input type="checkbox" class=" visually-hidden gallery__custom-checkbox-field">
              <span class="gallery__custom-checkbox-visible"></span>
              <span class="gallery__custom-checkbox-content">XX Век</span>
            </label>

            <label class="gallery__custom-checkbox">
              <input type="checkbox" class="visually-hidden gallery__custom-checkbox-field">
              <span class="gallery__custom-checkbox-visible"></span>
              <span class="gallery__custom-checkbox-content">Современность</span>
            </label>

        </div>
      </div>

      <div class="gallery__right">
        <div class="gallery__right-navigation">
          <button class="gallery__right-btn btn-prev btn-reset" aria-label="К предыдущему слайду"></button>
          <div class="gallery__right-pagination"></div>
          <button class="gallery__right-btn btn-next btn-reset" aria-label="К следующему слайду"></button>
        </div>


        <div class="swiper gallery__swiper">
          <div class="swiper-wrapper">
             <a class="gallery__swiper-link swiper-slide swiper-gallery" data-graph-path="one" href="#no-scrolling">
              <picture>
                <source srcset="img/gallery-slider1-320.webp" type="image/webp" media="(max-width: 320px)">
                <source srcset="img/gallery-slider1-320.png" type="image/png" media="(max-width: 320px)">
                <source srcset="img/gallery-slider1-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/gallery-slider1-768.png" type="image/png" media="(max-width: 768px)">
                <source srcset="img/gallery-slider1-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider1-1024.png" type="image/png" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider1-1920.webp" type="image/webp">
                <img loading="lazy" src="img/gallery-slider1-1920.png" class="gallery__image" width="350" height="350" alt="картина Казимира Малевича Фигура с розовым лицом">
              </picture>
             </a>
             <a class="gallery__swiper-link swiper-slide swiper-gallery" data-graph-path="two" href="#no-scrolling">
              <picture>
                <source srcset="img/gallery-slider2-320.webp" type="image/webp" media="(max-width: 320px)">
                <source srcset="img/gallery-slider2-320.png" type="image/png" media="(max-width: 320px)">
                <source srcset="img/gallery-slider2-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/gallery-slider2-768.png" type="image/png" media="(max-width: 768px)">
                <source srcset="img/gallery-slider2-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider2-1024.png" type="image/png" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider2-1920.webp" type="image/webp">
                <img loading="lazy" src="img/gallery-slider2-1920.png" class="gallery__image" width="350" height="350" alt="картина Казимира Малевича Женщина с гарблями">
              </picture>
             </a>
             <a class="gallery__swiper-link swiper-slide swiper-gallery" data-graph-path="three" href="#no-scrolling">
              <picture>
                <source srcset="img/gallery-slider3-320.webp" type="image/webp" media="(max-width: 320px)">
                <source srcset="img/gallery-slider3-320.png" type="image/png" media="(max-width: 320px)">
                <source srcset="img/gallery-slider3-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/gallery-slider3-768.png" type="image/png" media="(max-width: 768px)">
                <source srcset="img/gallery-slider3-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider3-1024.png" type="image/png" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider3-1920.webp" type="image/webp">
                <img loading="lazy" src="img/gallery-slider3-1920.png" class="gallery__image" width="350" height="350" alt="картина Казимира Малевича Уборка Урожая">
              </picture>
             </a>
             <a class="gallery__swiper-link swiper-slide swiper-gallery" data-graph-path="four" href="#no-scrolling">
              <picture>
                <source srcset="img/gallery-slider4-320.webp" type="image/webp" media="(max-width: 320px)">
                <source srcset="img/gallery-slider4-320.png" type="image/png" media="(max-width: 320px)">
                <source srcset="img/gallery-slider4-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/gallery-slider4-768.png" type="image/png" media="(max-width: 768px)">
                <source srcset="img/gallery-slider4-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider4-1024.png" type="image/png" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider4-1920.webp" type="image/webp">
                <img loading="lazy" src="img/gallery-slider4-1920.png" class="gallery__image" width="350" height="350" alt="картина Ивана Клюна Суперматизм">
              </picture>
             </a>
             <a class="gallery__swiper-link swiper-slide swiper-gallery" data-graph-path="five" href="#no-scrolling">
              <picture>
                <source srcset="img/gallery-slider5-320.webp" type="image/webp" media="(max-width: 320px)">
                <source srcset="img/gallery-slider5-320.png" type="image/png" media="(max-width: 320px)">
                <source srcset="img/gallery-slider5-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/gallery-slider5-768.png" type="image/png" media="(max-width: 768px)">
                <source srcset="img/gallery-slider5-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider5-1024.png" type="image/png" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider5-1920.webp" type="image/webp">
                <img loading="lazy" src="img/gallery-slider5-1920.png" class="gallery__image" width="350" height="350" alt="картина Казимира Малевича Женщина с Коромыслом">
              </picture>
             </a>
             <a class="gallery__swiper-link swiper-slide swiper-gallery" data-graph-path="six" href="#no-scrolling">
              <picture>
                <source srcset="img/gallery-slider6-320.webp" type="image/webp" media="(max-width: 320px)">
                <source srcset="img/gallery-slider6-320.png" type="image/png" media="(max-width: 320px)">
                <source srcset="img/gallery-slider6-768.webp" type="image/webp" media="(max-width: 768px)">
                <source srcset="img/gallery-slider6-768.png" type="image/png" media="(max-width: 768px)">
                <source srcset="img/gallery-slider6-1024.webp" type="image/webp" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider6-1024.png" type="image/png" media="(max-width: 1024px)">
                <source srcset="img/gallery-slider6-1920.webp" type="image/webp">
                <img loading="lazy" src="img/gallery-slider6-1920.png" class="gallery__image" width="350" height="350" alt="картина Казимира Малевича Суперматизм">
              </picture>
             </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>





