<div class="gallery">
  <div class="gallery__container container">


    <div class="gallery__left">
      <h2 class="gallery__title">
        Галерея
      </h2>
      <span class="gallery__filter">Фильтр:</span>

      <!-- далее дроп и чекбоксы -->
    </div>

    <div class="gallery__right">

      <div class="swiper gallery__swiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
            <img loading="lazy" src="..//img/gallery-slider.jpg" class="gallery__image" width="350" height="350" alt="">
           </div>
           <div class="swiper-slide">
            <img loading="lazy" src="..//img/gallery-slider1.jpg" class="gallery__image" width="350" height="350" alt="">
           </div>
           <div class="swiper-slide">
            <img loading="lazy" src="..//img/gallery-slider2.jpg" class="gallery__image" width="350" height="350" alt="">
           </div>
           <div class="swiper-slide">
            <img loading="lazy" src="..//img/gallery-slider3.jpg" class="gallery__image" width="350" height="350" alt="">
           </div>
           <div class="swiper-slide">
            <img loading="lazy" src="..//img/gallery-slider4.jpg" class="gallery__image" width="350" height="350" alt="">
           </div>
           <div class="swiper-slide">
            <img loading="lazy" src="..//img/gallery-slider5.jpg" class="gallery__image" width="350" height="350" alt="">
           </div>
        </div>
      </div>

    </div>
  </div>
</div>





