<header class="header">

    <div class="header__top">
      <div class="header__top-container container">


        <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger >
          <span class="burger__line"></span>
        </button>


        <a href="#" class="header__top-link">
          <img loading="lazy" src="img/logo.svg" class="header__top-image" width="173" height="40" alt="логотип сайта">
        </a>

        <nav class="header__top-nav " title="список меню навигации" data-menu>


            <ul class="header__top-nav-list list-reset">
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">О нас</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Галерея</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Каталог</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">События</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Проекты</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Контакты</a></li>
            </ul>

            <button class="header__top-btn btn-reset">
              <svg class="header__top-btn-link" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z" fill="white"/>
                </svg>
                <p class="header__top-btn-heading">Войти</p>
            </button>
        </nav>





        <div class="header__search-top">
          <form action="#" class="header__form-top">

            <button class="header__search-top-btn btn-reset" type="button">
              <svg class="header__search-top-btn-img">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>

            <!-- <label class="header__form-top-label">
              <input type="search" class="input-reset header__form-top-input" placeholder="Поиск по сайту">
            </label> -->
            <!-- <button class="btn-reset form__btn">Отправить</button> -->
          </form>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="header__bottom-container container">
        <ul class="header__bottom-list list-reset">

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="one">
              <p class="header__bottom-btn-heading">Реализм</p>
              <span class="header__bottom-btn-link"></span>
            </button>

            <div class="header__bottom-drop js-header-drop" data-target="one">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Фридрих</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Леонардо</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Верроккьо</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Верроккьо</a></li>
                  <!-- <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Верроккьо</a></li> -->
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="two">
              <p class="header__bottom-btn-heading">Импрессионизм</p>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="two">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Моне</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Сислей</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Мане</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Ренуар</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="three">
              <p class="header__bottom-btn-heading">Постимпрессионизм</p>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="three">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Ван Гог</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Сезанн</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Гоген</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Сёра</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="four">
              <p class="header__bottom-btn-heading">Авангард</p>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="four">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Кандинский</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Маринетти</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Малевич</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Пикассо</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="five">
              <p class="header__bottom-btn-heading">Футуризм</p>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="five">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Карра</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Прателла</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Северини</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Балла</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <div class="header__search">
          <form action="#" class="header__form-bottom">

            <button class="header__search-btn btn-reset" type="button">
              <svg class="header__search-btn-img">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>

            <label class="header__form-label">
              <input class="header__form-input input-reset" type="search" placeholder="Поиск по сайту">
            </label>
            <!-- <button class="btn-reset form__btn">Отправить</button> -->
          </form>
        </div>
      </div>
    </div>

</header>
