<header class="header">

    <div class="header__top">
      <div class="header__top-container container">


        <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger >
          <span class="burger__line"></span>
        </button>


        <a href="#" class="header__top-link">
          <img loading="lazy" src="img/logo.svg" class="header__top-image" width="173" height="40" alt="логотип сайта">
        </a>

        <nav class="header__top-nav " title="список меню навигации" data-menu>


            <ul class="header__top-nav-list list-reset">
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">О нас</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Галерея</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Каталог</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">События</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Проекты</a></li>
              <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Контакты</a></li>
            </ul>

            <button class="header__top-btn btn-reset">
             <span class="header__top-btn-wrap">
              <svg class="header__top-btn-link" width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z"/>
              </svg>
              <span class="header__top-btn-heading">Войти</span>
             </span>

            </button>
        </nav>




        <div class="header__search-top">
          <form action="#" class="header__form-top">

            <button class="header__search-top-btn btn-reset" type="button">
              <svg class="header__search-top-btn-img">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>

            <!-- <label class="header__form-top-label">
              <input type="search" class="input-reset header__form-top-input" placeholder="Поиск по сайту">
            </label> -->
            <!-- <button class="btn-reset form__btn">Отправить</button> -->
          </form>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="header__bottom-container container">
        <ul class="header__bottom-list list-reset">

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="one">
              <span class="header__bottom-btn-heading">Реализм</span>
              <span class="header__bottom-btn-link"></span>
            </button>

            <div class="header__bottom-drop js-header-drop" data-target="one">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--tintoretto">Тинторетто</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--fridrih">Фридрих</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--leonardo">Леонардо</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--verokko">Верроккьо</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--verokko">TEST</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="two">
              <span class="header__bottom-btn-heading">Импрессионизм</span>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="two">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--mone">Моне</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--sisley">Сислей</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--mane">Мане</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--renyar">Ренуар</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="three">
              <span class="header__bottom-btn-heading">Постимпрессионизм</span>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="three">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--vangog">Ван Гог</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--sezan">Сезанн</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--gogen">Гоген</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--sera">Сёра</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="four">
              <span class="header__bottom-btn-heading">Авангард</span>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="four">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--kandinskiy">Кандинский</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--marinetti">Маринетти</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--malevich">Малевич</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--picasso">Пикассо</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="header__bottom-item">
            <button class="header__bottom-btn btn-reset js-header-dropdown-btn" data-path="five">
              <span class="header__bottom-btn-heading">Футуризм</span>
              <span class="header__bottom-btn-link"></span>
            </button>
            <div class="header__bottom-drop js-header-drop" data-target="five">
              <div class="header__bottom-drop-wrap" data-simplebar>
                <ul class="header__bottom-drop-wrap-list list-reset">
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--kappa">Карра</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--pratella">Прателла</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--severini">Северини</a></li>
                  <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link header__bottom-drop-wrap-link--balla">Балла</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>


          <form action="#" class="header__form-bottom">
            <button class="header__search-btn btn-reset" type="button">
              <svg class="header__search-btn-img">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>

            <label class="header__form-label">
              <input class="header__form-input input-reset" type="search" placeholder="Поиск по сайту">
            </label>
          </form>

      </div>
    </div>

</header>
