<header class="header">
  <div class="header__container container">
    <div class="header__top">

      <a href="#" class="header__top-link">
        <img loading="lazy" src="img/logo.svg" class="header__top-image" width="173" height="40" alt="логотип сайта">
      </a>

      <nav class="header__top-nav " title="список меню навигации">
        <ul class="header__top-nav-list list-reset">
          <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">О нас</a></li>
          <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Галерея</a></li>
          <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Каталог</a></li>
          <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">События</a></li>
          <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Проекты</a></li>
          <li class="header__top-nav-item"><a href="#" class="header__top-nav-link">Контакты</a></li>
        </ul>
      </nav>
          <!-- тут еще нужно кнопку поиска -->
    </div>

    <div class="header__bottom">
      <ul class="header__bottom-list list-reset">
        <li class="header__bottom-item">
          <button class="header__bottom-btn">
            <p class="header__bottom-btn-heading">Реализм</p>
            <span class="header__bottom-btn-link"></span>
          </button>
          <div class="header__bottom-drop">
            <div class="heder__bottom-drop-wrap">
              <ul class="header__bottom-drop-wrap-list list-reset">
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__bottom-item">
          <button class="header__bottom-btn">
            <p class="header__bottom-btn-heading">Реализм</p>
            <span class="header__bottom-btn-link"></span>
          </button>
          <div class="header__bottom-drop">
            <div class="heder__bottom-drop-wrap">
              <ul class="header__bottom-drop-wrap-list list-reset">
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__bottom-item">
          <button class="header__bottom-btn">
            <p class="header__bottom-btn-heading">Реализм</p>
            <span class="header__bottom-btn-link"></span>
          </button>
          <div class="header__bottom-drop">
            <div class="heder__bottom-drop-wrap">
              <ul class="header__bottom-drop-wrap-list list-reset">
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__bottom-item">
          <button class="header__bottom-btn">
            <p class="header__bottom-btn-heading">Реализм</p>
            <span class="header__bottom-btn-link"></span>
          </button>
          <div class="header__bottom-drop">
            <div class="heder__bottom-drop-wrap">
              <ul class="header__bottom-drop-wrap-list list-reset">
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
                <li class="header__bottom-drop-wrap-item"><a href="#" class="header__bottom-drop-wrap-link">Тинторетто</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
