<div class="hero">

  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
       <div class="swiper-slide">
        <img loading="lazy" src="../img/slider1.webp" class="image" width="" height="" alt="">
       </div>
       <div class="swiper-slide">
        <img loading="lazy" src="../img/slider.webp" class="image" width="" height="" alt="">
       </div>
       <div class="swiper-slide">
        <img loading="lazy" src="../img/slider2.webp" class="image" width="" height="" alt="">
       </div>
    </div>
  </div>


  <div class="hero__container container">



    <div class="hero__content">
      <h1 class="hero__content__title-hidden">Художественная галерея "Blanchard"</h1>
      <h2 class="hero__content__title">Прикоснитесь к прекрасному</h2>
      <p class="hero__content__text">Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для новых предложений</p>
      <a href="#" class="hero__content__btn btn-reset">Подписаться на рассылку</a>
    </div>
  </div>
</div>



