<section class="hero">

  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
       <div class="swiper-slide">
        <img loading="lazy" src="../img/slider1.webp" class="hero__image" width="1920" height="800" alt="картинка 1">
       </div>
       <div class="swiper-slide">
        <img loading="lazy" src="../img/slider.webp" class="hero__image" width="1920" height="800" alt="картинка 2">
       </div>
       <div class="swiper-slide">
        <img loading="lazy" src="../img/slider2.webp" class="hero__image" width="1920" height="800" alt="картинка 3">
       </div>
    </div>
  </div>


  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__content-title-hidden">Художественная галерея "Blanchard"</h1>
      <h2 class="hero__content-title">Прикоснитесь к прекрасному</h2>
      <p class="hero__content-text">Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для новых предложений</p>
      <a href="#" class="hero__content-btn btn-reset">Подписаться на рассылку</a>
    </div>
  </div>
</section>



