<div class="graph-modal">

  <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="one">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__wrapper">
      <picture class="modal__wrapper-picture">
        <source srcset="img/modal-1.webp" type="image/webp">
        <img loading="lazy" src="img/modal-1.jpg" class="modal__image"  alt="">
      </picture>
      <div class="modal__content">
        <h3 class="modal__content-title">Lorem ipsum dolor</h3>
        <p class="modal__content-subtitle">amet consectetur</p>
        <span class="modal__content-date">1234-5678</span>
        <p class="modal__content-descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus magni reiciendis ullam minima! Ipsam eaque voluptatem iste ut culpa illum natus ipsa, repellendus animi amet iure eos, sit, ex sequi.</p>
      </div>
    </div>
  </div>

  <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="two">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__wrapper">
      <picture class="modal__wrapper-picture">
        <source srcset="img/modal-2.webp" type="image/webp">
        <img loading="lazy" src="img/modal-2.jpg" class="modal__image" alt="">
      </picture>
      <div class="modal__content">
        <h3 class="modal__content-title">Казимир Малевич</h3>
        <p class="modal__content-subtitle">«Женщина с граблями»</p>
        <span class="modal__content-date">1931–1932</span>
        <p class="modal__content-descr">Картина из второй серии крестьянского цикла работ Казимира Малевича. Художник принялся за её создание в 1930–1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
      </div>
    </div>
  </div>

  <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="three">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__wrapper">
      <picture class="modal__wrapper-picture">
        <source srcset="img/modal-3.webp" type="image/webp">
        <img loading="lazy" src="img/modal-3.jpg" class="modal__image"  alt="">
      </picture>
      <div class="modal__content">
        <h3 class="modal__content-title">Lorem ipsum dolor</h3>
        <p class="modal__content-subtitle">amet consectetur</p>
        <span class="modal__content-date">1234-5678</span>
        <p class="modal__content-descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus magni reiciendis ullam minima! Ipsam eaque voluptatem iste ut culpa illum natus ipsa, repellendus animi amet iure eos, sit, ex sequi.</p>
      </div>
    </div>
  </div>

  <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="four">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__wrapper">
      <picture class="modal__wrapper-picture">
        <source srcset="img/modal-4.webp" type="image/webp">
        <img loading="lazy" src="img/modal-4.jpg" class="modal__image"  alt="">
      </picture>
      <div class="modal__content">
        <h3 class="modal__content-title">Lorem ipsum dolor</h3>
        <p class="modal__content-subtitle">amet consectetur</p>
        <span class="modal__content-date">1234-5678</span>
        <p class="modal__content-descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus magni reiciendis ullam minima! Ipsam eaque voluptatem iste ut culpa illum natus ipsa, repellendus animi amet iure eos, sit, ex sequi.</p>
      </div>
    </div>
  </div>

  <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="five">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__wrapper">
      <picture class="modal__wrapper-picture">
        <source srcset="img/modal-5.webp" type="image/webp">
        <img loading="lazy" src="img/modal-5.jpg" class="modal__image"  alt="">
      </picture>
      <div class="modal__content">
        <h3 class="modal__content-title">Lorem ipsum dolor</h3>
        <p class="modal__content-subtitle">amet consectetur</p>
        <span class="modal__content-date">1234-5678</span>
        <p class="modal__content-descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus magni reiciendis ullam minima! Ipsam eaque voluptatem iste ut culpa illum natus ipsa, repellendus animi amet iure eos, sit, ex sequi.</p>
      </div>
    </div>
  </div>

  <div class="graph-modal__container modal" role="dialog" aria-modal="true" data-graph-target="six">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__wrapper">
      <picture class="modal__wrapper-picture">
        <source srcset="img/modal-6.webp" type="image/webp">
        <img loading="lazy" src="img/modal-6.jpg" class="modal__image"  alt="">
      </picture>
      <div class="modal__content">
        <h3 class="modal__content-title">Lorem ipsum dolor</h3>
        <p class="modal__content-subtitle">amet consectetur</p>
        <span class="modal__content-date">1234-5678</span>
        <p class="modal__content-descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus magni reiciendis ullam minima! Ipsam eaque voluptatem iste ut culpa illum natus ipsa, repellendus animi amet iure eos, sit, ex sequi.</p>
      </div>
    </div>
  </div>




</div>








