// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", "Muller", sans-serif;
  --content-width: 1630px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white:#FFFFFF;
  --whisper:#ECECEC;
  --very-light-grey:#CACACA;
  --harley-davidson-orange:#D11616;
  --summer-sky:#26A5E4;
  --lime-green:#30BF39;
  --studio:#7943A4;
  --amethyst:#9D5CD0;
  --wisteria:#C283F3;
  --mauve:#D1A9F0;
  --nobel:#999999;
  --dim-gray:#666666;
  --night-rider:#333333;
  --black:#000000;
 }
